<body style="display: flex; min-height: 100vh; flex-direction: column;">
    <header>
      <nav>
        <div class="nav nav-tabs blue lighten-2">
          <h3>Movies</h3>
        </div>
        <div class="nav nav-tabs blue lighten-2">
         
        </div>
      </nav>
    </header>
    <main style="flex: 1 0 auto;">
        <div>
            <router-outlet></router-outlet>
        </div>
    </main>
    <footer class="page-footer blue lighten-2">
      <div class="footer-copyright">
        <div class="container"> 
          <a class="grey-text text-lighten-4" target="_blank" >© 2020 Amina Čerkez</a>  
          <a class="grey-text text-lighten-4 right" >MovieApp</a>
        </div>
      </div>
  </footer>
</body>

